<div class="error" *ngIf="product === undefined">
  <h1>Selected product doesn't exist.</h1>
  <div class="link-back">
    <a routerLink="/"
      ><fa-icon [icon]="faArrowLeft"></fa-icon> Back to product list</a
    >
  </div>
</div>
<div class="product" *ngIf="product !== undefined">
  <div class="product-data product-img">
    <img [src]="product.url" />
  </div>
  <div class="product-data">
    <div>
      <p class="title">{{ product.name }}</p>
      <p class="text">${{ product.price }}</p>
      <p class="text">{{ product.description }}</p>
    </div>
    <div class="add-item">
      <select>
        <option *ngFor="let amount of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
          {{ amount }}
        </option>
      </select>
      <br />
      <button>Add to cart</button>
    </div>
    <div class="link-back">
      <a routerLink="/"
        ><fa-icon [icon]="faArrowLeft"></fa-icon> Back to product list</a
      >
    </div>
  </div>
</div>
