.header {
  background-color: #2bade1;
  text-align: center;
  color: white;
}

h1{
    margin: 0;
    padding: 15px;
}

nav{
    padding-bottom: 10px;
}

a{
    padding: 3px;
    font-size: 20;
    color: white;
}
