<div class="container">
  <div class="container-item product-data product-img">
    <img [src]="cartItem.product.url" />
  </div>
  <div class="product-data">
    <p class="title">{{ cartItem.product.name }}</p>
    <p class="text">${{ total }}</p>
    <div class="form-group">
      <label for="quantity" class="text">Amount: </label>
      <input
        type="number"
        name="quantity"
        #quantity="ngModel"
        required
        min="0"
        [(ngModel)]="cartItem.quantity"
        (ngModelChange)="quantityChanged()"
      />
      <button class="remove-button" (click)="removeItem()" type='button'>X</button>
      <div
        *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)"
        class="alert"
      >
        <div *ngIf="quantity.errors?.['required']">Quantity is required.</div>
        <div *ngIf="quantity.errors?.['min']">Quantity must be greater then 0</div>
      </div>
    </div>
  </div>
</div>
