button {
  border-radius: 5px;
  border: 0;
  background-color: #555;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button {
  width: 100px;
  height: 30px;
  margin-top: 5px;
}

button:hover:not([disabled]) {
  background-color: gray;
  color: black;
}

button:disabled {
  background-color: #AAA;
  pointer-events: none;
}

select {
  cursor: pointer;
}

img {
  cursor: pointer;
}

.alert {
  color: red;
}
